<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dir02E9212FE87182F9938C5280FFE1BEC2" Name="SuperDuperLibrary">
                <Component Id="cmp607F8E704A5F96D01D7D72E0E440C905" Guid="*">
                    <File Id="filD2F8173C89601F813B232DA6CC0B550A" KeyPath="yes" Source="$(var.SuperDuperLibraryBinaries)\SuperDuperLibrary.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SuperDuperLibrary.Binaries">
            <ComponentRef Id="cmp607F8E704A5F96D01D7D72E0E440C905" />
        </ComponentGroup>
    </Fragment>
</Wix>